<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>

    <ul id="rows"></ul>
    <ul id="pageNums"></ul>

</body>
</html>


<script>
    var rows_per_page = 5;
    var total_rows;
    var tempUser = 1;

    function getRowsCount() {
        $.get('api/operation/count_rows/'+tempUser, function(data) {
            total_rows = parseInt(data.rows);
            var count = 1;
            for (var i = 0; i < total_rows; i += rows_per_page) {
                $('#pageNums').append('<li><a href="#' + count + '" onclick="getPage(' + count + ');">' + count + '</a></li>');
                count++;
            }
        });
    }

    function getPage(page_num) {
        $('#rows').html('');
        $.get('api/operation/' + tempUser + '/' + page_num + '/' + rows_per_page, function(data) {
            $(data).each(function() {
                $('#rows').append('<li>' + this.Id + '</li>');
            });
        });
    }

    $(document).ready(function () {
        getRowsCount();

        var page_num = 1;

        if (window.location.hash !== '') {
            var hash_num = parseInt(window.location.hash.substring(1));

            if (hash_num > 0) {
                page_num = hash_num;
            }
        }

        getPage(page_num);
    });

</script>