<div>    
    <div class="square" ng-repeat="product in products">
        {{product.name}}
        {{product.cost}}
        <input type="button" value="Buy" ng-click="purchase(product)"/>
    </div>
    <hr/>
    <h2>Portfolio:</h2>
    <p>{{user.username}}</p>
    Balance:
    <p>{{user.balance}}</p>
    <p ng-repeat="product in products">
        {{product.name}} - {{productCountList[product.id].length}} - <input type="button" value="Sell" ng-click="sellLastProduct(product.id)"/>
    </p>
    <input type="button" value="Fill balance" ng-click="chargeUserBalance(user.id)"/>
    <input type="button" value="Draw graph" onclick="drawGraph($scope.productCountList)"/>
    <canvas id="graph" width="200" height="200"></canvas>
    <p ng-repeat="operation in operations">
        {{operation.userId}}
        {{operation.productId}}
        {{operation.amount}}
    </p>

</div>