<div>    
    <div class="square" ng-repeat="product in vm.products">
        {{product.name}}
        {{product.cost}}
        <input type="button" value="Buy" ng-click="purchase(product)"/>
    </div>
    <hr/>
    <h2>Portfolio:</h2>
    <p>{{user.username}}</p>
    Balance:
    <p>{{user.balance}}</p>
    <p ng-repeat="product in vm.products">
        {{product.name}} - {{productCountList[product.id].length}} - <input type="button" value="Sell" ng-click="sellLastProduct(product.id)"/>
    </p>
    <input type="button" value="Fill balance" ng-click="chargeUserBalance(user.id)"/>
    <div>
        <canvas id="pie" class="chart chart-pie" style="height:150px;width:300px;"
            chart-data="productData" chart-labels="productLabels" chart-options="options">
        </canvas> 
    </div>
<!--
    <p ng-repeat="operation in operations">
        {{operation.userId}}
        {{operation.productId}}
        {{operation.amount}}
    </p>
-->
</div>