<div>
    
    <div class="square" ng-repeat="product in products">
        {{product.Name}}
        {{product.Cost}}
        <input type="button" value="Buy" ng-click="purchase(product)"/>
    </div>
    <hr/>
    <h2>Portfolio:</h2>
    <p>{{user.UserName}}</p>
    Balance:
    <p>{{user.Balance}}</p>
    <p ng-repeat="product in products">
        {{product.Name}} - {{productCountList[product.Id].length}} - <input type="button" value="Sell" ng-click="sellLastProduct(product.Id)"/>
    </p>
    <input type="button" value="Fill balance" ng-click="chargeUserBalance(user.Id)"/>
    <input type="button" value="Draw graph" onclick="drawGraph($scope.productCountList)"/>
    <canvas id="graph" width="200" height="200"></canvas>
    <p ng-repeat="operation in operations">
        {{operation.UserId}}
        {{operation.ProductId}}
        {{operation.Amount}}
    </p>

</div>