<input type="button" ng-click="ctrl.logout()" value="Logout" />

<div ng-hide="!isBlocked">
    This account have been blocked! Contact yout administrator.
</div>

<ul class="nav nav-tabs responsive" id="mainTab">
    <li ng-repeat="tab in tabs" role="presentation" class="tabClass(tab)">
        <a href ng-click="setSelectedTab(tab)">{{tab.label}}</a>
    </li>
</ul>

<div ng-controller="OperationsController">
    <div ng-show="isSet(tabs[0])">
        <div class="square" ng-repeat="product in products">
            {{product.name}}
            {{product.cost}}
            <input type="button" value="Buy" ng-click="purchase(product)" />
        </div>
        <hr />
        <h2>Portfolio:</h2>
        Balance:
        <p>{{user.balance}}</p>
        <p ng-repeat="product in products">
            {{product.name}} - {{operationsList[product.id].length}} - <input type="button" value="Sell" ng-click="sellLastProduct(product.id)" />
        </p>
        <input type="button" value="Fill balance" ng-click="chargeUserBalance(user.id)" />
        <div>
            <canvas id="pie" class="chart chart-pie" style="height: 150px; width: 300px;"
                    chart-data="productData" chart-labels="productLabels" chart-options="options"></canvas>
        </div>

        <div>
            <p>Profit</p>
            <div ng-repeat="obj in productProfitList">
                <p> {{obj.productName}} : {{obj.profit}}$</p>
            </div>
        </div>

    </div>

    <div ng-show="isSet(tabs[1])">
        <ul id="rows"></ul>
        <ul id="pageNums"></ul>
    </div>

    <div>
        <p>Recent Activities</p>
        <div ng-repeat="obj in productStatisticList">
            <p> {{obj.numBought}} items of {{obj.productName}} were bought</p>
            <p> {{obj.numSold}} items of {{obj.productName}} were sold</p>
        </div>
    </div>
</div>
