<div>{{message}}</div>
<div class="login box">
    Create Login:<input type="text" ng-model="signupData.userName" name="login" id="login"/><br/>
    Create Password:<input type="text" ng-model="signupData.password" name="password" id="password"/><br/>
    Confirm Password:<input type="text" ng-model="signupData.confirmPassword" name="password" id="password"/><br/>
    Email:<input type="text" ng-model="signupData.email" name="email" id="email"/><br/>
    <button type="button" ng-click="submit()">Register</button>
</div>